<div class="container">
    <h1>Image Overlay App</h1>
    <input type="file" accept="image/*" (change)="handleFileChange($event)">
    <br>
    <button (click)="downloadMeme()">Download Image</button>
    <br>
    <div id="meme" #meme class="image-container">
      <img class="base-image" src="assets/background.png" alt="background">
      <ngx-moveable
        *ngIf="uploadedImg"
        [target]="overlayImageElement.nativeElement"
        [draggable]="true"
        [resizable]="true"
        [keepRatio]="true"
        [origin]="true"
        [edge]="false"
        (dragStart)="onDragStart($event)"
        (drag)="onDrag($event)"
        (dragEnd)="onDragEnd($event)"
        (resizeStart)="onResizeStart($event)"
        (resize)="onResize($event)"
        (resizeEnd)="onResizeEnd($event)">
      </ngx-moveable>
      <img #overlayImage [src]="uploadedImg" alt="uploaded" class="overlay-image">
      <img class="foreground-image" src="assets/foreground.png" alt="foreground">
    </div>
  </div>
  