<div class="container">
    <h1>Image Overlay App</h1>
    <input type="file" accept="image/*" (change)="handleFileChange($event)">
    <br>
    <!-- <button (click)="downloadMeme()">Download Image</button> -->
    <br>
    <div id="meme" #meme class="image-container">
      <img class="base-image" src="assets/background.png" alt="background">
      <ngx-moveable
            [target]="targetRef"
           [draggable]="draggable"
           [throttleDrag]="throttleDrag"
           [edgeDraggable]="edgeDraggable"
          [startDragRotate]="startDragRotate"
            [throttleDragRotate]="throttleDragRotate"
           [scalable]="scalable"
           [keepRatio]="keepRatio"
            [throttleScale]="throttleScale"
            [renderDirections]="renderDirections"
            [rotatable]="rotatable"
            [throttleRotate]="throttleRotate"
            [rotationPosition]="rotationPosition"
           (drag)="onDrag($event)"
            (scale)="onScale($event)"
            (rotate)="onRotate($event)"
        ></ngx-moveable>
        <img [src]="imageUrl" alt="Uploaded Image" #targetRef [ngClass]="{'overlay-image': imageUrl}">
      <img class="foreground-image" src="assets/foreground.png" alt="foreground">
    </div>
  </div>
  